/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

/* common styles */
.text-pink {
  color: #FF42A5;
}

/* navbar styles starts */

nav {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
}

.icon-and-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-and-text img {
  width: 80px;
  height: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav ul a {
  text-decoration: none;
  color: #3C354F;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

nav ul input[type="text"] {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  width: 260px;
  height: 56px;
}

nav ul input[type="text"]:focus {
  border: 0;
}

.input-search-field {
  position: relative;
}

.fa-youtube,
.fa-tiktok {
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.fa-youtube {
  right: 40px;
  color: red;
  margin-right: 10px;
}

.fa-tiktok {
  right: 10px;
}
/* navbar ends */


/* banner starts */

.banner {
  margin: 50px 100px;
  text-align: center;
  display: flex;
  align-items: center;
  background: #FFF;
}

.banner-description {
  width: 50%;
}

.banner img {
  width: 50%;
}

.banner-description h2 {
  font-size: 48px;
  font-weight: 600;
}

.banner-title {
  font-weight: 800;
  font-size: 95px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

  /* Clip the background upto
                the text  */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the color of the text
                to transparent  */
  color: transparent;
  margin-bottom: 24px;
}

.banner-description p{
  margin-bottom: 17px;
}
/* banner ends */









/* responsive */
/* for mobile */
@media screen and (width<=576px) {
  
  /* nav styles */
  nav {
    margin: 20px 100px;
  }
  
  nav,
  nav ul , .banner{
    flex-direction: column;
  }

  .icon-and-text {
    margin-bottom: 25px;
  }

  nav ul input[type="text"] {
    padding: 10px;
  }

  /* banner styles */
  .banner{
    margin: 5px;
    flex-direction: column-reverse;
  }
  .banner-description, .banner img{
    width: 100%;
  }
  
  .banner img{
    margin-bottom: 1.875em;
  }
}

/* responsive tablet */
@media screen and (577px <=width <=960px) {


  /* nav styles */
  nav {
    margin: 20px 100px;
  }

  nav,
  nav ul , .banner{
    flex-direction: column;
  }

  .icon-and-text {
    margin-bottom: 25px;
  }

  /* banner styles */
  .banner{
    margin: 5px;
    flex-direction: column-reverse;
  }

  .banner-description, .banner img{
    width: 95%;
    margin: 0 auto;
  }
  
  .banner img{
    margin-bottom: 1.875em;
    margin-top: 1.875em;
  }
}