/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  /* overflow-x: hidden; */
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

/* common styles */
.text-pink {
  color: #FF42A5;
}

.bg-pink {
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.bg-light-blue {
  background: #4EC5F7;
}

.btn {
  padding: 20px 41px;
  text-transform: uppercase;
  font-size: 20px;
  color: #FFF;
  font-weight: 600;
  border-radius: 48px;
  border: 0;
  cursor: pointer;
}

.linear-gradient-font-color {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);

  /* Clip the background upto
                the text  */
  -webkit-background-clip: text;
  background-clip: text;
  /* Set the color of the text
                to transparent  */
  color: transparent;
}

/* common styles ends */


/* navbar styles starts */

nav {
  margin: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  font-weight: 700;
  font-size: 45px;
}

.icon-and-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon-and-text img {
  width: 80px;
  height: 40px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

nav ul a {
  text-decoration: none;
  color: #3C354F;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
}

nav ul input[type="text"] {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 20px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  width: 260px;
  height: 56px;
}

nav ul input[type="text"]:focus {
  border: 0;
}

.input-search-field {
  position: relative;
}

.fa-youtube,
.fa-tiktok {
  position: absolute;
  top: 30px;
  cursor: pointer;
}

.fa-youtube {
  right: 40px;
  color: red;
  margin-right: 10px;
}

.fa-tiktok {
  right: 10px;
}

/* navbar ends */


/* banner starts */

.banner {
  margin: 50px 100px;
  /* text-align: center; */
  display: flex;
  align-items: center;
  background: #FFF;
}

.banner-description {
  width: 50%;
}

.banner-description>* {
  justify-self: flex-start;
}

.banner img {
  width: 50%;
}

.banner-description h2 {
  font-size: 48px;
  font-weight: 600;
}

.banner-title {
  font-weight: 800;
  font-size: 95px;
  margin-bottom: 24px;
}

.banner-description p {
  margin-bottom: 17px;
}

.button-container {
  margin-top: 25px;
}

/* banner ends */

/**! main starts ****/

/* online games */
.online-games {
  margin: 50px 100px;
  text-align: center;
}

.online-games-title {
  font-weight: 700;
  font-size: 2.6rem;
  margin-bottom: 20px;
}

.online-games-description {
  margin-bottom: 24px;
  font-size: 20px;
  font-weight: 500;
}

.online-games-img-container {
  /* display: flex; */
  /* justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1.5rem;
}

.online-games-img-container .img-box {
  width: 100%;
}

.online-games-img-container .img-box img {
  width: 100%;
}

.img-overlay-container {
  position: relative;
}

.overlay-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-overlay-container:hover .overlay-image {
  cursor: pointer;
  opacity: 0.7;
}

.img-overlay-container:hover .middle {
  opacity: 1;
}

.fa-circle-play {
  cursor: pointer;
}



/* play instantly  section */

.play-instantly {
  margin: 50px 100px;
  /* padding-bottom: 400px; */
  display: flex;
  justify-content: center;
}

.play-instantly-left-side {
  width: 50%;
  text-align: center;
}

.play-instantly-right-side {
  width: 50%;
  height: 500px;
  position: relative;
}

.play-instantly-right-side img {
  width: 95%;
}

.img-1 {
  position: absolute;
  padding-left: 100px;
}

.img-2 {
  position: absolute;
  width: 230px !important;
  height: 230px !important;
  top: 13.5rem;
}

/* play instantly sec ends */


/* button grid section starts */
.buttons-grid-sec {
  margin: 50px 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.button-grid {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid white;
}

.button-grid:hover {
  color: rgb(252, 77, 106);
  border: 1px solid rgb(252, 77, 106);
  border-radius: 20px;
  cursor: pointer;
}

.btn-grid-img {
  width: 40px;
  height: 40px;
}

/* button grid section ends */


/* footer section */
footer {
  background: #0B0223;
  display: flex;
  width: auto;
  height: 500px;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}



.footer-2nd-part ,
.footer-3rd-part,
.footer-4rth-part{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.footer-3rd-part{
  grid-template-columns: repeat(5, 1fr);
}
.footer-4rth-part{
  grid-template-columns: repeat(4,1fr);
}

/* responsive */
/* for mobile */
@media screen and (width<=576px) {

  /* nav styles */
  nav {
    margin: 20px 100px;
  }

  nav,
  nav ul,
  .banner,
  .play-instantly {
    flex-direction: column;
  }

  .online-games-img-container{
    grid-template-columns: repeat(1,1fr);
  }

  .icon-and-text {
    margin-bottom: 25px;
  }

  nav ul input[type="text"] {
    padding: 10px;
  }

  /* banner styles */
  .banner {
    margin: 5px;
    flex-direction: column-reverse;
  }

  .banner-description,
  .banner img,
  .play-instantly-left-side,
  .play-instantly-right-side {
    width: 100%;
    padding: 9px;
  }

  .banner img {
    margin-bottom: 1.875em;
  }

  .btn {
    margin-bottom: 15px;
  }


  /* online-games & play-instantly sec */
  .online-games,
  .play-instantly {
    margin: 20px;
  }

  .img-1 {
    padding-left: 70px;
  }

  .img-2 {
    width: 200px !important;
    height: 200px;
    top: 200px;
  }

  /* buttons grid */
  .buttons-grid-sec {
    margin: 2px;
    row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  
  /* footer styles */
  footer{
    height: auto;
  }

  .footer-container>.icon-and-text{
    margin-top: 20px;
  }

  .footer-2nd-part, .footer-3rd-part{
    grid-template-columns: repeat(3,1fr);
  }

  .footer-4rth-part{
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 1.5rem;
  }
}


/* responsive tablet */
@media screen and (577px <=width <=960px) {


  /* nav styles */
  nav {
    margin: 20px 100px;
  }

  nav,
  nav ul,
  .banner{
    flex-direction: column;
  }

  .online-games-img-container {
    grid-template-columns: repeat(2,1fr);
  }

  .icon-and-text {
    margin-bottom: 25px;
  }

  /* banner styles */
  .banner {
    margin: 50px;
    flex-direction: column-reverse;
  }

  .banner-description,
  .banner img {
    width: 95%;
    margin: 0 auto;
  }

  .banner img {
    margin-bottom: 1.875em;
    margin-top: 1.875em;
  }

  /* online-games & play-instantly sec */
  .online-games,
  .play-instantly,
  .online-games-img-container {
    margin: 20px;
  }

  .img-1 {
    padding-left: 100px;
  }

  .img-2 {
    width: 180px !important;
    height: 160px !important;
    top: 200px;
  }


  .buttons-grid-sec {
    margin: 25px;
    padding: 0;
  }

  .footer-container{
    width: 100%;
  }

  .footer-2nd-part, .footer-3rd-part{
    grid-template-columns: repeat(3,1fr);
  }

  .footer-4rth-part{
    grid-template-columns: repeat(2,1fr);
  }
}